html, body { 
	height: 100%; width: 100%; margin: 0; 
}
.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}
a, a:hover, a:visited, a:active {
	color: #45a2bc;
}

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 16px;
}

.svg-icon{
	width: 30px;
	height: 30px;
}

.footer {
	height: 60px;
	padding: 15px;
}


.navbar-default {
	background-color: #ffffff;
	border: 0px;
}
